<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Fashion</span>HUB</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                
                <a href="" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">{{cart.length}}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">New Styles Hub</h6>
                    
                </a>
                
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Fashion</span>HUB</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link">Home</a>
                            <a href="/shop" class="nav-item nav-link">Shop</a>
                            <a href="/my_orders" class="nav-item nav-link">orders</a>
                            <a href="/profile" class="nav-item nav-link">profile</a>
                            
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            
                            <a href="/logout" class="nav-item nav-link">Logout</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
     <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
       <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {{#each cart}}
								<input type="hidden" value="{{this.product}}" name="cart_dataaa">
                                <tr id="row{{this.product._id}}" class="table_row"></tr>
                        <tr>
                            <td class="align-middle"><img src="/images/{{this.product.image.[0]}}" alt="" style="width: 50px;"> {{this.product.name}}</td>
                            <td class="align-middle">₹ {{this.product.price}}</td>
                            <input type="hidden" name="productprice" value="{{this.product.price}}">
                            {{!-- product id --}}
									<input type="hidden" name="productId" value="{{this.product._id}}">
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" onclick="totalPrice('{{this.product._id}}','dec')" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input disabled="" id="{{this.product._id}}"
												class="form-control form-control-sm bg-secondary text-center" type="number"
												name="num-product" value="{{this.quantity}}">
                                    
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" onclick="totalPrice('{{this.product._id}}','inc','{{this.product.quantity}}')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                           
                            <td class="align-middle">
                                 ₹ <span id="total" name="productTotal" class="column-5"
											value="{{this.total}}">{{this.total}}</span></td>

									<input type="hidden" id="product_id{{this.product._id}}"
										value="{{this.product._id}}">

									<input type="hidden" name="cart_id" value="{{this._id}}">
                            </td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"  onclick="removeCartalert('{{this.product._id}}')" ><i class="fa fa-times"></i></button></td>
                        </tr>
                        
                        {{/each }}
                        
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Total</h6>
                            <h6 class="font-weight-medium" id="subTotal">{{subTotal}}</h6>
                        </div>
                        
                    </div>
                    
                        <button class="btn btn-block btn-primary my-3 py-3"  onclick="proceedToCheckout()">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->*

     <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">Fashion</span>HUB</h1>
                </a>
                
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street,Pathanamthitta, Thiruvalla</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Fashionhub@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>9656856545</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Sajana</a><br>
                    Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script>

const totalPrice = async (id, act, stock) => {
 
               console.log("testing");
			const elem = document.getElementById(id)
                  
			
			const currentValue = Number(elem.value);
			if (act == 'inc' && currentValue < stock) {
				elem.value = currentValue + 1
			} else if (act == 'dec' && currentValue > 1) {
				elem.value = currentValue - 1
			} else if (act === 'dec' && currentValue === 1) {
				// Show a SweetAlert when the quantity is already at the minimum
				 await Swal.fire({
					icon: 'info',
					title: 'Minimum Quantity',
					text: 'You have to choose at least 1 quantity.',
				});
				return;
			} else if (act === 'inc' && currentValue >= stock) {
				// Show a SweetAlert when the quantity exceeds the stock
				 await Swal.fire({
					icon: 'warning',
					title: 'Stock is limited!',
					text: `You cannot add more than ${stock} items.`,
				});
				return;
			}

             console.log("message from cart")
			let subTotal = 0
			let datas = []
			let length = document.getElementsByName('productTotal').length
			for (let i = 0; i < length; i++) {
				document.getElementsByName('productTotal')[i].innerText = Number(document.getElementsByName('num-product')[i].value) * Number(document.getElementsByName('productprice')[i].value)
				subTotal = subTotal + Number(document.getElementsByName('productTotal')[i].innerText)
                console.log(subTotal)
				datas.push({
					id: document.getElementsByName('productId')[i].value,
					quantity: Number(document.getElementsByName('num-product')[i].value)
				})
			}
            console.log("HI from cart for q test",datas)
			document.getElementById('subTotal').innerText = subTotal
                   console.log("testing")
			let data = await fetch('/cart_updation', {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					datas
				})
			})
			let Data = await data.json()
            console.log(Data)
		}

     const removeCartalert = async (idd) => {
			const proId = document.getElementById('product_id' + idd).value
			const cartId = document.getElementsByName('cart_id')[0].value

			console.log(proId, 'pro iddddddddddddd', cartId, 'cart idddddddddddd')

			const id = { proId: proId, cartId: cartId }

			const result = await Swal.fire({
				title: 'Remove item from cart',
				text: 'Do you want to add this item to your wishlist or remove it completely?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Add to wishlist',
				cancelButtonText: 'Remove'
			});

			// Handle the user's response
			if (result.isConfirmed) {
				addToWishlist(proId)
			} else if (result.dismiss === Swal.DismissReason.cancel) {
				removeFromCart(proId, cartId)
			}
		}

        const removeFromCart = async (proId, cartId) => {
			const response = await fetch(`/remove?proId=${proId}&cartId=${cartId}`, {
				method: 'GET',
				headers: {
					'Content-Type': "application/json",
				},
			})

			const data = await response.json()
			console.log(data)
			 Swal.fire({
                icon: 'success',
                title: 'Item Removed from cart!',
            });
			document.getElementById('row' + proId).innerHTML = ''
			// Automatically reload the page after the item is removed
			window.location.reload();
		}

         const addToWishlist = async (id) => {
            console.log('helooooooooooo from add to wishlist');
            let response = await fetch(`/add_to_wishlist?id=${id}`, {
                headers: {
                    "Content-Type": "application/json"
                },
            });

            let data = await response.json();
            console.log(data);
            if (data.message == 'Added') {
                Swal.fire({
                    icon: 'success',
                    title: 'AwwW 🥳!',
                    text: 'Item added to Wishlist!',
                });
            } else {
                Swal.fire({
                    icon: 'info',
                    title: 'Item already in Wishlist!',
                });
            }
        };
        
           

        const proceedToCheckout = async () => {

			console.log('helooo from proceed to checkout...')
			const response = await fetch('/check_stock', {
				headers: {
					"Content-Type": "application/json"
				},
			})
             
			const data = await response.json()

			if (response.status == 200) {
				window.location.href = '/checkout'
			} else {
				console.log(data)
				data.forEach((pro) => {
					alertify.set('notifier', 'position', 'bottom-center');
					alertify.success(`${pro.name} out of stock..!!`)
				})
			}
		}

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    // Get the current URL
    var currentUrl = window.location.pathname;
     console.log("url checking",currentUrl)
    // Loop through each link in the navigation
    $('.navbar-nav a').each(function() {
      var linkUrl = $(this).attr('href');
          console.log("linkurl for checking",linkUrl)
      // Check if the link URL matches the current URL
      if (currentUrl === linkUrl) {
        $(this).addClass('active');
      }
    });
  });
  </script>
</body>

</html>